md-toolbar
  div.md-toolbar-tools
    md-button.md-icon-button(ng-click="$ctrl.goTo('/search')", aria-label='home')
      span.material-icons(ng-bind="$ctrl.isSecondaryRoute() ? 'chevron_left' : 'home'")
    h2(flex ng-bind='$ctrl.pageTitles[$ctrl.route]')
    md-menu(width='4')
      md-button.md-icon-button(ng-click='$mdMenu.open()')
        span.material-icons more_vert
      md-menu-content(ng-mouseleave='$mdMenu.close()')
        md-menu-item
          md-button(disabled)
            md-icon(md-menu-align-target).material-icons info
            span Fourmi v
            span(app-version)
        md-menu-item
          md-button(ng-click="$ctrl.goTo('/settings')")
            md-icon(md-menu-align-target).material-icons settings
            span Paramètres
        md-menu-item
          md-button(ng-click="$ctrl.goTo('/changelog')")
            md-icon(md-menu-align-target).material-icons code
            span Changelog

