md-toolbar
  div.md-toolbar-tools
    md-button.md-icon-button(ng-click='$ctrl.goBack()')
      span.material-icons(ng-bind="$ctrl.isSecondaryRoute() ? 'chevron_left' : 'home'")
    h2(flex ng-bind='$ctrl.pageTitles[$ctrl.route]')
    md-button.md-icon-button
      span.material-icons more_vert
