md-input-container
    label Auteur
    input(ng-model='$ctrl.work.author')
md-input-container
    label Titre
    input(ng-model='$ctrl.work.title')
md-input-container
    label Référence
    input(ng-model='$ctrl.work.reference')
