md-content
  md-list#list-container.md-dense(flex, md-virtual-repeat-container)
    md-list-item.md-2-line(md-virtual-repeat='work in $ctrl.works', ng-click='$ctrl.onSelect(work)')
      div.md-list-item-text(layout='column')
        h4 {{ ::work.author }} ({{ ::work.reference }}) - {{ ::work.title }}
        p {{ work.latinText || work.frenchText | incipit: 40 }}
      md-menu(width='4')
        md-button.md-icon-button(ng-click='$mdMenu.open()')
          span.material-icons more_vert
        md-menu-content(ng-mouseleave='$mdMenu.close()')
          md-menu-item
            md-button(ng-click="$ctrl.goTo('/settings')")
              md-icon(md-menu-align-target).material-icons share
              span Imitations
          md-menu-item
            md-button(ng-click="$ctrl.goTo('/changelog')")
              md-icon(md-menu-align-target).material-icons mode_edit
              span Éditer

