work-editor(work='$ctrl.work' ng-if='$ctrl.work')

section(layout layout-wrap layout-align='center center')
  md-button.md-raised.md-accent Supprimer
  md-button.md-raised Annuler
  md-button.md-raised.md-primary Enregistrer
