md-toolbar
  div.md-toolbar-tools
    md-button.md-icon-button
      span.material-icons chevron_left
    h2(flex) Éditer une oeuvre
    md-button.md-icon-button
      span.material-icons settings
    md-button.md-icon-button
      span.material-icons more_vert




work-editor(work='$ctrl.work' ng-if='$ctrl.work')

section(layout layout-wrap layout-align='center center')
  md-button.md-raised.md-warn Supprimer
  md-button.md-raised Annuler
  md-button.md-raised.md-primary Enregistrer
