@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

:global(.container-fluid) {
  padding-left: 0;
  padding-right: 0;
}
