// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ui-select/dist/select.css';
@import 'fonts/Roboto/Roboto.css';
@import 'fonts/EB-Garamond/EB-Garamond.css';
@import '~angular-material/angular-material.css';

html, body {
  background-color: #f4f4f4;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    width: 100%;
    background-color: #efefef;
    color: #777777;
}

.edit-submit {
    margin-top: 20px;
    text-align: center;
}

.gray-text {
    color: gray;
}
