div(layout)
  text-display(flex='50', work='$ctrl.work', reference-work='$ctrl.referenceWork', target-version='reference-latin')
  text-display(flex='50', work='$ctrl.work', reference-work='$ctrl.referenceWork', target-version='french')
