@import '~typeface-eb-garamond';
@import '~typeface-roboto';

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.public-DraftStyleDefault-block {
  margin-top: 0;
  margin-bottom: 0;
}
